
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto:wght@300;400&display=swap');

:root{
    --white-color: #fff;
    --button-correct: #5aae76;
    --button-wrong: #e13e36;
    --button-hover: #aaa;
}

body {
    
    /*min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #c6caf1;*/
}
#container{
    display: flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* --------------------------------------user section------------------- */
#userdetails{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    width: 200px;
    height: 25px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    align-content: center;
    padding: 2px 2px;
}
#user-name{
    text-align: center;
    font-size: 1rem;
}

#progress-bar{
    width: 10rem;
    height: 2rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressbarfull{
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}


/* ----------------------------quiz section--------------------------- */
#card{

    display: flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header{
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 100px;
    font-size: 3rem;
    
}

#imageContainer  {
    height: 250px;
    width: 250px;
    
    margin-bottom: 10px;
}

#imageContainer img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* #pockemonimg{
    min-height: 100%;
    max-width: 100%;
} */
.options-container{
    display: flex;
    flex-wrap: wrap;
   
    align-content: center;
    text-align: center;
}
button{
    height: 50px;
    margin: 10px;
    width: 42%;
    font-weight: 700;
    font-size: 17px;
    text-transform: capitalize;
    cursor: pointer;
    background-color: var(--white-color);
    border: none;
    border-radius: 20px;
  
}

button:hover {
    background-color: var(--button-hover);
    color: var(--white-color);
  }
  
  button.correct {
    background-color: var(--button-correct);
    color: var(--white-color);
  }
  
  button.wrong {
    background-color: var(--button-wrong);
    color: var(--white-color);
  }

  #pointsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  #points {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
/* #lives{
    color: #17cf55;
    align-items: center;
    margin: 10px 10px;
}
.hearts{
    width: 2rem;
    height: 2rem;
} */
#submitquiz{
    display: flex;
    align-items: center;
}
#finishquiz{

    font-weight: 200;
    font-size: 1rem;
    color: var(--white-color);
    height: 50px;
    width: 90px;
    background-color: #2f22e2;
    border: none;
    border-radius: 20px;
}


.show {
    display: flex;
  }
  
  .hide {
    display: none;
  }
  
