/* General Styling ----------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/images/index_background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* Nav Bar Styling -----------------------*/

nav {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: #a8a8a8;
}

nav li:first-child {
    margin-right: auto;
}


/* Temporary Logo styling -----------------------*/

nav li:first-child img {
    height: 45px;
    width: 45px;
    padding-right: 5px;
}


/* Invert colors on logo on hover */

nav li:first-child:hover {
    filter: invert(1);
}


/*--------------------------------*/

ul li i {
    font-size: larger;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}


/* Pokemon Type Styling -----------------------*/

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('/assets/font/pokemon_solid-webfont.woff2') format('woff2'), url('/assets/font/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.pokemon-type-card {
    position: relative;
    width: 450px;
    height: 350px;
    border: 1.75px solid #ffcc00;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 13px 0 0;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease-in;
}

.pokemon-type-card:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.type-icon {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.type-name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s ease-in;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.3s ease-in;
}


/* makes the gradient work */

.gradient-text {
    background: -webkit-linear-gradient(right, #0075be, #ffcc00, #ffcc00, #0075be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'pokemon_solidnormal', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}


/* descriptions */

.descriptions div {
    display: none;
    font-family: 'pokemon_solidnormal', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    animation: slide-in 0.3s ease forwards;
}

.descriptions {
    display: none;
}

<<<<<<< HEAD
.hero{
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
}

/* Hero Content */
.hero-container{
    width: 50%;
    height: 50%;
    background-color: Blue;
    display: flex;
}

.hero-img{
    background-color:red;
    width: 50%;
    height: 50%;
}

/* Footer */
footer {

=======
.show-descriptions {
    display: block;
>>>>>>> 16af48938eac5f224b87c98c6d0d964c4a60f50b
}


/* animation */

@keyframes slide-in {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}


/* positive or negative effects colouring */

.positive-effect {
    color: #3b994e;
}

.negative-effect {
    color: #ab1f23;
}


/* show descriptions whilst hovering */

.pokemon-type-card:hover .descriptions div {
    display: block;
    -webkit-background-clip: unset;
}


/* positions of descriptions */

.top-left {
    position: absolute;
    top: 5px;
    left: 15px;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 15px;
}

.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 15px;
}


/* Footer */

footer {}

.footer-content {
    background-color: #f5f5f5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}


/* Media Queries -----------------------*/


/*Hide Horizontal nav bar on mobile and display sidebar button*/

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .sidebarbutton {
        display: block;
    }
}

<<<<<<< HEAD
}
/*-------------------------------------/
=======
@media (max-width: 768px) {
    .pokemon-type-card {
        width: calc(50% - 20px);
        /* Adjusts card width for smaller screens */
    }
}

@media (max-width: 480px) {
    .pokemon-type-card {
        width: calc(100% - 20px);
        /* Adjusts card width for even smaller screens */
    }
}

@media screen and (min-width: 768px) {
    .pokemon-type-card:hover .descriptions {
        /*Hide Sidebar button on default screens larger than 800px*/
        .sidebarbutton {
            display: none;
        }
    }
}
>>>>>>> 16af48938eac5f224b87c98c6d0d964c4a60f50b
