/* General Styling ----------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/index_background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Helvetica, sans-serif;
}

/*----------------------------------------*/
#usernamebutton{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 5px;
    width:200px;
    margin-top:5px;
}
input[type=text] {
    border: 2px solid darkblue;
    border-radius: 4px;
    padding: 5px;
    width:250px;
  }


/* Hero header Styling -------------------*/

.hero-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    /* 50 + 50px accounting for fixed footer*/
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    /*border: solid 1px red;*/
}

.hero .hero-column1 {
    padding-right: 50px;
    /*border: solid 1px red;*/
}

.hero .hero-column2 {
    padding-right: 50px;
    /*border: solid 1px red;*/
}

.hero-column1 h1 {
    font-size: xxx-large;
    margin-bottom: 10px;
    color: #fff;
}

.hero-column1 p {
    font-size: x-large;
    margin-bottom: 20px;
    color: #f5f5f5;
}

.hero-column2 img {
    width: auto;
    overflow: hidden;
}


/* Nav Bar Styling -----------------------*/

nav {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: #a8a8a8;
}

nav li:first-child {
    margin-right: auto;
}


/* Temporary Logo styling -----------------------*/

nav li:first-child img {
    height: 45px;
    width: 45px;
    padding-right: 5px;
}


/* Invert colors on logo on hover */

nav li:first-child:hover {
    filter: invert(1);
}

ul li i {
    font-size: larger;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


/*Hide Sidebar button on default screens larger than 800px*/

.sidebarbutton {
    display: none;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}


/* Footer */

footer {}

.footer-content {
    background-color: #f5f5f5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}


/* Media Queries -----------------------*/


/*Hide Horizontal nav bar on mobile and display sidebar button*/

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .sidebarbutton {
        display: block;
    }
}

@media(max-width:1024px) {
    .hero {
        flex-wrap: wrap;
    }
    .hero-column2 {
        justify-content: flex-end;
        width: 100%;
    }
    .hero-column2 img {
        width: 100%;
        align-self: center;
    }
    .hero-column1 {
        text-align: center;
    }
    .hero .hero-column1 {
        padding-right: 0px;
    }
    .hero .hero-column2 {
        padding-right: 0px;
    }
}

@media(max-width:375px) {
    .hero-column1 h1 {
        font-size: x-large;
        margin-bottom: 10px;
    }
    .hero-column1 p {
        font-size: medium;
        margin-bottom: 20px;
    }
    .hero-wrapper {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}